.photos-page {
  .header {
    margin: 40px 0px;

    div:first-child {
      display: flex;
      align-items: baseline;
      justify-content: space-evenly;
      a {
        text-align: center;
      }

      .h1 {
        font-size: 6rem;
      }
      .autocomplete-component {
        width: 80%;
      }
    }
    div:last-child {
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
